lib/xsd/common/dates.xsd

<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<schema
    targetNamespace="urn:com.microsoft.wc.dates"
    xmlns:this="urn:com.microsoft.wc.dates"
    xmlns:t="urn:com.microsoft.wc.types" 
    xmlns="http://www.w3.org/2001/XMLSchema" >

    <!--

        DATES.XSD
        Microsoft HealthVault
        Copyright (c) Microsoft Corporation. All rights reserved.

        Platform API: Common types for dates and times

        Note there is significant duplication in these types ... it does
        not seem possible to alter the minOccurs value on inherited types.
        If I'm wrong on that we could really clean this up. However, 
        for now this works fine ... if we fix it should be transparent
        to users.
    
    -->

    <import
		namespace="urn:com.microsoft.wc.types"
		schemaLocation="types.xsd" />

    <annotation>
        <documentation>
            <summary>

            </summary>

            <remarks>

            </remarks>
        </documentation>
    </annotation>
    
    <simpleType name="year">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="1000" />
            <maxInclusive value="9999" />
        </restriction>
    </simpleType>

    <simpleType name="month">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="1" />
            <maxInclusive value="12" />
        </restriction>
    </simpleType>

    <simpleType name="day">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="1" />
            <maxInclusive value="31" />
        </restriction>
    </simpleType>

    <simpleType name="hour">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="0" />
            <maxInclusive value="23" />
        </restriction>
    </simpleType>

    <simpleType name="minute">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="0" />
            <maxInclusive value="59" />
        </restriction>
    </simpleType>

    <simpleType name="second">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="0" />
            <maxInclusive value="59" />
        </restriction>
    </simpleType>

    <simpleType name="millisecond">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="int">
            <minInclusive value="0" />
            <maxInclusive value="999" />
        </restriction>
    </simpleType>

    <complexType name="date">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="y" type="this:year" 
                minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="m" type="this:month" 
                minOccurs="1" maxOccurs="1" >
                <annotation>
                    <documentation>
                        <summary>
                            
                        </summary>

                        <remarks>
                            
                        </remarks>
                    </documentation>
                </annotation>
            </element>
            
            <element name="d" type="this:day" 
                minOccurs="1" maxOccurs="1" >
                <annotation>
                    <documentation>
                        <summary>
                            
                        </summary>

                        <remarks>
                            
                        </remarks>
                    </documentation>
                </annotation>
            </element>
            
        </sequence>
    </complexType>

    <complexType name="approx-date">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="y" type="this:year" 
                minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="m" type="this:month" 
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="d" type="this:day" 
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>

    <complexType name="time">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="h" type="this:hour" 
                minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="m" type="this:minute" 
                minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="s" type="this:second" 
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="f" type="this:millisecond" 
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>

    <complexType name="date-time">
        <annotation><documentation>
            date + time value, requires at least date
        </documentation></annotation>
        <sequence>
            <element name="date" type="this:date" 
                minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="time" type="this:time" 
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="tz" type="t:codable-value"
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>

    <complexType name="StructuredApproxDate">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="date" type="this:approx-date"
                minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="time" type="this:time"
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="tz" type="t:codable-value"
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

        </sequence>
    </complexType>

    <complexType name="approx-date-time">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <choice minOccurs="1" maxOccurs="1">
            <element name="structured" type="this:StructuredApproxDate" />
            <element name="descriptive" type="string">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

        </choice>
    </complexType>

</schema>

