lib/xsd/common/record.xsd

<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<schema
    targetNamespace="urn:com.microsoft.wc.record"
    xmlns:this="urn:com.microsoft.wc.record"
    xmlns:wc-auth="urn:com.microsoft.wc.auth"
    xmlns:wc-types="urn:com.microsoft.wc.types"
    xmlns="http://www.w3.org/2001/XMLSchema" >

    <!--

        RECORD.XSD
        Microsoft HealthVault

        Platform API: Representation of the authorization rules

    -->

    <import
        namespace="urn:com.microsoft.wc.types"
        schemaLocation="types.xsd" />
    <import
        namespace="urn:com.microsoft.wc.auth"
        schemaLocation="auth.xsd" />

    <annotation>
        <documentation>
            <summary>

            </summary>

            <remarks>

            </remarks>
        </documentation>
    </annotation>


    <simpleType name="AuthorizedRecordState">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="Active">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="ActivationPending">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="ActivationRejected">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <complexType name="ActiveAppAuthorization">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="record-id" type="wc-types:guid">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="application-id" type="wc-types:guid">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="name" type="string">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-expires" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="person-online-auth-xml" type="wc-auth:AuthXml"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="person-offline-auth-xml" type="wc-auth:AuthXml"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-created" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-updated" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-display-name" type="wc-types:string255" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
    </complexType>

    <complexType name="ActivePersonAuthorization">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="record-id" type="wc-types:guid">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="person-id" type="wc-types:guid">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="name" type="string">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-custodian" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="is-group" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="contact-email" type="wc-types:EmailAddress" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="contact-email-validated" type="boolean"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-display-name" type="wc-types:string255"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-expires" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="auth-xml" type="wc-auth:AuthXml"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="rel-type" type="int"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-created" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-updated" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="can-access-audit" type="boolean"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
    </complexType>

    <complexType name="ActivePersonAuthorizationNoIds">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>

            <element name="name" type="string">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-custodian" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="is-group" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="contact-email" type="wc-types:EmailAddress" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="contact-email-validated" type="boolean"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-display-name" type="wc-types:string255"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-expires" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="auth-xml" type="wc-auth:AuthXml"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="rel-type" type="int"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-created" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-updated" type="dateTime"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="can-access-audit" type="boolean"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
    </complexType>
    
    <!-- non-active auths are returned only to custodians -->
    <complexType name="NonActiveAuthorization">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="record-id" type="wc-types:guid">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="email-address" type="wc-types:EmailAddress">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-custodian" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name ="authorized-record-state"
                    type="this:AuthorizedRecordState">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-display-name" type="wc-types:string255">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-expires" type="dateTime" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="auth-xml" type="wc-auth:AuthXml" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="rel-type" type="int">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-created" type="dateTime" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-updated" type="dateTime" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="grantor-name" type="wc-types:string255" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="grantor-person-id" type="wc-types:guid">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="grantee-name" type="wc-types:string255">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-authorization-token"
                    type="wc-types:base64Sha1" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="email-text" type="wc-types:string1024"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="can-access-audit" type="boolean"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
    </complexType>

    <complexType name="NonActiveAuthorizationNoIds">
        <annotation>
            <documentation>
                <summary>

                </summary>

                <remarks>

                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="email-address" type="wc-types:EmailAddress">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-custodian" type="boolean" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name ="authorized-record-state"
                    type="this:AuthorizedRecordState">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-display-name" type="wc-types:string255">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-expires" type="dateTime" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="auth-xml" type="wc-auth:AuthXml" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="rel-type" type="int">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-created" type="dateTime" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="date-auth-updated" type="dateTime" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="grantor-name" type="wc-types:string255" >
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="grantee-name" type="wc-types:string255">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="record-authorization-token"
                    type="wc-types:base64Sha1" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


            <element name="email-text" type="wc-types:string1024"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>

            <element name="can-access-audit" type="boolean"
                    minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>

                        </summary>

                        <remarks>

                        </remarks>
                    </documentation>
                </annotation>
            </element>


        </sequence>
    </complexType>

</schema>
